body{
    background-image: linear-gradient(to bottom, white, rgba(0, 0, 0, 0.753));
}

.header{
    margin: 15px auto;
    width: 600px;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(158, 158, 142, 0.747);    
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.356);
    border: 1px solid rgba(0, 0, 0, 0.253);
}

.form{
    margin: 25px auto;
    width: 600px;
    padding: 15px;
    background-color: rgba(158, 158, 142, 0.603);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.253);
    box-shadow: 2px 6px 7px rgba(0, 0, 0, 0.356);
}

.check{
    font-size: 5px;
}

