/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
    font-size: 1.2em;
    margin: 10px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
  
  }
  
  article {
  
  }
  
  h1 {
    font-size: 1.7em;
  }
  
  h2 {
  
  }
  
  img {
      max-width: 100%;
      margin: 13px 0;
  }
  
  main {
  
  }
  
  section {
  
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

@media screen and (max-width: 800px) {
      
    body{
      background-color: burlywood;
      text-align: justify;
    }    

    h1, h2{
      text-align: center;
    }

    section{
      display: flex;
     }

    figure{
      flex-direction: row;
      flex-basis: 300px;
    }

}